@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Onest:wght@100..900&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-onest: 'Onest', 'Arial';
  --font-nunito-sans: "Nunito Sans", "Arial";
  height: 100%;
}

body {
  color:  var(--foreground);
  background: var(--background);
  font-family: var(--font-nunito-sans);
  height: 100%;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.font-onest {
  font-family: var(--font-onest);
  font-weight: bold;
}

.font-n-sans {
  font-family: var(--font-nunito-sans);
}


.global-mx {
  @apply mx-4 md:mx-7;
}
