ul li {
    padding-block: 1.5rem;
    margin: 2rem 0;
}

li:hover {
    background-color: white;
    color: #4869BD;
}

.links-container {
    transition: all ease-in-out 2s;
}

.active {
    height: 100dvh;
    display: block;
}