ul li {
    padding-block: 1rem;
    margin: 2rem 0;
}

li:hover {
    background-color: white;
    color: #4869BD;
}

.links-container {
    transition: all ease-in-out .5s;
}

@media only screen and (max-height: 550px)  {
    .links-container {
        overflow: scroll;
    } 
}

.active {
    height: calc(100dvh - 88px); /*100dvh - navbar height*/
}