.slider-image {
    max-width: 24rem;
    margin: 0 .5rem;
}

.slider-image img {
    filter: brightness(.9);
    border-radius: .5rem;
    min-width: 24rem;
    height: auto;
    transition: all ease-in-out .7s;
}

.slider-image img:hover {
    transform: scale(1.1);
}
